  <repeat group="{{ @ulist }}" value="{{ @item }}">
        <div>
            <check if="{{ @item.minutes >= 10 }}">
            <span id="{{ @item.id }}">{{ @item.heure }}H{{ @item.minutes }} [{{ @item.infos }}]</span>
            </check>
            <check if="{{ @item.minutes < 10 }}">
            <span id="{{ @item.id }}">{{ @item.heure }}H0{{ @item.minutes }} [{{ @item.infos }}]</span>
            </check>
            <img class="delete" src="ui/images/delete.png"/>
        </div>
    </repeat>
