<script src="ui/js/main.js"></script>
<div class="content">
    <div id="block_disc">
        <form action="/unlog" method="post">
            <div class="button">
                <button type="submit">Disconnect</button>
            </div>
        </form>
    </div>
    <div id="current_list">
        <include href="{{ @actu_list }}"></include>
    </div>

</div>
