<h2 class="w3-text-light-grey">Accueil</h2>
<hr style="width:200px" class="w3-opacity">
<p>{{ @name }}</p>
<check if="{{ @user }}">
    <true>
        <p>Mail : {{ @user->getMail() }}</p>
        <p>Pour toute erreur de mail, contactez-nous : master@epistar.under-wolf.eu</p>
    </true>
</check>
<p>Online EpiStar V0.7a</p>
<p>EpiStar étant en version pré-alpha, les inscriptions sont fermées.</p>
<p>Si vous voulez faire partie des testeurs, contactez-nous master@epistar.under-wolf.eu.</p>
