<h2 class="w3-text-light-grey">Admin</h2>
<hr style="width:200px" class="w3-opacity">

                <form action="/sub" method="post">
                    <p>
                        <label for="login">Login :</label>
                        <input type="text" name="login" />
                        <label for="pwd"> Password :</label>
                        <input type="password" name="pwd" />
                        <label for="mail"> Mail :</label>
                        <input type="text" name="mail" />
                        <input type="submit" value="Add" />
                    </p>
                </form>
