<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
	<img src="/ui/images/star.jpg" style="width:100%">
	<a href="/accueil" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
		<i class="fa fa-home w3-xxlarge"></i>
		<p>Accueil</p>
	</a>
	<a href="/repos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
		<i class="fa fa-user w3-xxlarge"></i>
		<p>Repos</p>
	</a>
	<a href="/infos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
		<i class="fa fa-eye w3-xxlarge"></i>
		<p>Infos</p>
	</a>
</nav>

	<!-- ----------------------------------------------------------------- -->

	<body class="w3-black">
	<div class="w3-padding-large" id="main">x

	<!-- ----------------------------------------------------------------- -->

	<header class="w3-container w3-center w3-black" id="home">
		<h1 class="w3-jumbo" style="margin-bottom: 0px"><span class="w3-hide-small">★EpiStar★</h1>
		<p style="font-style: italic; padding-top: 0px;margin-top: 0px">Blih User Interface</p>
	</header>

	<!-- ----------------------------------------------------------------- -->

		<div id="auth">
			<check if="{{ @user }}">
				<true>

					<p style="display: inline">Logged as {{ @user->getName() }}</p>
					<form style="display: inline" action="/disconnect" method="post">
						<input type="submit" value="Disconnect" />
					</form>

				</true>
				<false>

					<form action="/connect" method="post">
						<p>
							<label for="Login">Login :</label>
							<input type="text" name="Login" />
							<label for="Password"> Password :</label>
							<input type="password" name="Password" />
							<input type="submit" value="Connect" />
						</p>
					</form>

				</false>
			</check>
		</div>


		<div id="core">