<h2 class="w3-text-light-grey">Repos page</h2>
<hr style="width:200px" class="w3-opacity">

<check if="{{ @repos }}">
    <true>

            <form action="/repos" method="get" id="add_repo">
                <p>
                    <label for="name_repo">Add repo :</label>
                    <input type="text" name="name_repo" />
                    <input type="submit" value="Add" />
                </p>
            </form>
        <div class="w3-margin-bottom center-txt">
            <ul class="w3-ul w3-white w3-center w3-opacity ">
                <li class="w3-dark-grey w3-xlarge w3-padding-32">{{ @user->getName() }} Repos</li>
                <repeat group="{{ @repos }}" value="{{ @repo }}">
                    <div class="repo-div">
                        <li class="w3-padding-16">{{ @repo }}</li>
                        <div class="repo-options">
                            <p class="rights"></p>
                            <p class="delete-button">DELETE</p>
                            <div></div>
                        </div>
                    </div>
                </repeat>
            </ul>
        </div>

    </true>
    <false>

        <p>
            You are not logged
        </p>

    </false>
</check>
