    .header_img
    {
        max-height: 10%;
        margin-left: 10%;
        position:absolute;
        top:3%;
    }

    #header_title
    {
      cursor: default;
        margin-top: 3%;
        color:black;
        font-size: 35px;
        left:auto;
        right: auto;
        text-decoration: underline;
        margin-left: 30%;
        /*text-align: center;*/
    }

    #modif_content{
margin:4%;
    }

#content_m{
  float: left;
}

#unlog{
  position: absolute;
  top: 6%;
  right:6%;
}

    #main_content{
      border: solid;
      height: 400px;
      text-align: left;
      background: rgba(0, 0, 0, 0.5);
    }

    #content_p{
      color:black;
      margin-left: 2%;
      margin-right: 2%;
      cursor: default;
    }

    #menu{
      color:black;
    }

    #navigation{
      text-align: center;
      padding: 0;
      margin: 0;
      bottom: 20px;
      margin-top: 0;
      position: relative;

      margin-left: 0px;
    }

    #main_block{
      margin-left: 5%;
      margin-right: 5%;
    }

    nav{
      text-align: center;
      /*background: grey;
      opacity: 0.7;
      color: black;
      border-radius: 125px;*/
    }

    option{
      text-align: center;
      opacity: 0.7;
    }
    #menu_actual_modif
    {
      background-color: rgba(0, 0, 0, 0.6);
    /*  border-right: 15px solid grey;
      border-bottom: 15px solid rgba(0, 0, 0, 0.1);*/
      padding: 0px;
      margin: 0px;
      border-radius: 15px 15px 0% 0% ;
    }

    #menu_actual_modif h2
    {
      opacity: 1%;
    }
    #menu_actual
    {
      background-color: rgba(0, 0, 0, 0.6);
    /*  border-right: 15px solid grey;
      border-bottom: 15px solid rgba(0, 0, 0, 0.1);*/
      padding: 0px;
      margin: 0px;
      border-radius: 15px 15px 0% 0% ;
    }

    #menu_actual h2
    {
      opacity: 1%;
    }

    .menu_elem a
    {
      color: black;
      opacity: 1;
    }

    .menu_elem a:hover
    {
      color: background-color: rgba(0, 0, 0, 0.6);
    }
    .menu_elem
    {
      color: black;
      background-color: rgba(0, 0, 0, 0.6);
      display:none;
      opacity: 0.5;
    }

    .menu_elem_modif
    {
      color: black;
      background-color: rgba(0, 0, 0, 0.6);
      display:none;
      opacity: 0.5;
    }

    #notif{
      background: rgba(0, 255, 0, 0.4);
      color:rgba(0, 0, 0, 1);
      text-align: center;
      border-radius: 15px 15px 0px 0px;
    }

    .delete
    {
        width:15px;
        position: relative;
        top:2px;
    }

    #block_disc
    {
        position:absolute;
        right: 15px;
        top: 5%;
    }

    #add_list
    {
        border-radius: 10px;
        border: solid;
    }

    .add_l
    {

        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 10px;

    }

    .add_m
    {

        display: inline-block;
        position: relative;
        bottom: 13px;
    }

    #f_login{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
    }

    #infos
    {
        width: 350px;
    }

    #block_login
    {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        padding-bottom: 15px;
        opacity: 0.5;
        border-radius: 10px;
        text-align: center;
    }


    label {
        margin-top:10px;
        display:block;
    }

    body {
        font-family:Ubuntu,sans-serif;
        font-size:1.2em;
        background: url("../images/bg.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    small {
        font-size:0.75em
    }

    a {
        text-decoration:none;
        color: rgba(0, 0, 0, 1);
    }

    a:hover {
        color:#666;
    }

    img {
        max-width:20%
    }

    table {
        font-size:.8em;
        color:#666 !important;
        background:#eee;
        width:100%;
        border-radius:.5em;
    }

    table code {
        background:transparent;
        padding:0
    }

    tr {
        border-bottom:1px solid #fff;
    }

    tr:last-child {
        border-bottom:none;
    }

    th,td {
        font-size:1em;
        line-height:1.25em;
        margin:0;
        padding:1em;
        white-space:nowrap;
    }

    th {
        font-weight:bold;
        text-align:left;
        text-transform:uppercase;
        color:#fff;
        background:#999;
    }

    th a {
        color:#fff;
    }

    th:first-child,
    td:first-child {
        width:50%;
    }

    pre {
        background:#efefef;
        padding:0.75em;
        border-radius:0.75em;
    }

    ul,p {
        color:#666;
        line-height:1.5em;
    }

    p code,ul code {
        padding:.25em .75em;
        border-radius:.75em;
        white-space:nowrap
    }

    blockquote pre,blockquote code {
        color:#666;
        background:#fff;
    }

    code {
        background:#eee;
    }

    .center {
        text-align:center;
    }

    .right {
        text-align:right;
    }

    .content {
        padding:0 20px;
        max-width:768px;
        margin:0 auto;
    }

    .header {
        background:#eee;
    }

    .header img {
        width:90%;
        max-width:768px;
        padding:0 5%;
    }

    .footer {
        font-size:0.9em;
        background:#00915c;
        opacity: 0.5;
    }

    .footer p{
        background-color:#00915c;
        padding:10px;
        max-width:768px;
        opacity: 0.5;
        margin:0 auto;
    }

    #h_line{
        background-color:#00915c;
        padding:10px;
        margin:0 auto;
        max-height: 15px;
        opacity: 0.5;
    }

    .footer .stats {
        font-size:.9em;
    }

    @media screen and (max-width:48em) {

        body {
            font-size:1em;
        }

    }
