<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />
  <link rel="stylesheet" href="lib/code.css" type="text/css" />
  <link rel="stylesheet" href="ui/css/theme.css" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="ui/js/menu.js"></script>
</head>
<body>
  <div>
    <img class="header_img" src="ui/images/base.png">
    <h1 id="header_title">Name Site</h1>
  </div>
  <div id="main_block">
  <nav>
    <div id="menu_actual">
      <h2>{{@menu_list[0].name_page}}</h2>
    </div>
    <ul id="navigation">
      <!-- <li class="menu_elem"><a title="aller à la section 1">Page 1</a></li> -->
      <repeat group="{{ @menu_list }}" value="{{ @item }}">
        <li class="menu_elem" id="{{@item.id}}"><a>{{@item.name_page}}</a></li>
      </repeat>
    </ul>
  </nav>
<div class="center" id="main_content">
    <div class="content">
        <div id="block_login">
            <form action="/log" method="post" id="f_login">
                <div>
                    <label for="login">Login :</label>
                    <input type="text" id="login" name="login"/>
                </div>
                <div>
                    <label for="pass">Password :</label>
                    <input type="password" id="pass" name="pass" />
                </div>
                <div class="button">
                    <button type="submit">Connect</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
