<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />
  <link rel="stylesheet" href="lib/code.css" type="text/css" />
  <link rel="stylesheet" href="ui/css/theme.css" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="ui/js/menu.js"></script>
  <script src="ui/js/main.js"></script>
</head>
<body>
  <div>
    <img class="header_img" src="ui/images/base.png">
    <h1 id="header_title">Name Site</h1>
    <form action = "/unlog" method = "post">
          <input id="unlog" type="submit" value="Disconnect" />
    </form>
  </div>
  <div id="main_block">
  <nav>
    <div id="menu_actual_modif">
      <h2>{{@menu_list[0].name_page}}</h2>
    </div>
    <ul id="navigation">
      <!-- <li class="menu_elem"><a title="aller à la section 1">Page 1</a></li> -->
      <repeat group="{{ @menu_list }}" value="{{ @item }}">
        <li class="menu_elem_modif" id="{{@item.id}}"><a>{{@item.name_page}}</a></li>
      </repeat>
    </ul>
  </nav>
  <div id="notif"></div>
      <div class="center" id="main_content">
      <textarea style="margin:4%" rows=10 COLS=40 name="actual_text" id="content_m">{{@link}}</textarea>
      <input type="submit" value="Modifier" id="modif_content" elemtomodif="1">
    <!-- <include href="{{ @content}}"></include> -->
</div>
</div>
</body>
</html>
